* {
	color: white;
}

.answer {
	margin: auto;
	font-size: 2vw;
	text-align: center;
}

body {
	background: url("pictures/drake-bw-background.jpg") no-repeat center center fixed;
	background-color: black;
  	background-size: cover;
}


button {
	background-color: rgb(65, 84, 114);
	border: none;
	border-radius: 10vw;
	color: white; 
	font-family: 'Inconsolata', monospace;
	font-size: 2vw; 
	height: 6vw;
	padding: 3vw;
	width: 20vw;

}

button:focus {
	background-color: white;
	color: rgb(65, 84, 114);
}

button:hover {
	background-color: white; 
	color: rgb(65, 84, 114);
}

.check-answer {
 	margin-top: 5vw;
 }

fieldset {
	border: none;
	font-size: 2vw;
	font-weight: bold;
	margin: 0px, auto;
}

.final {
	    background-color: rgba(8, 18, 34, 0.8);
}

.final-score {
	height: 8vw;
}

footer {
	display: block;
	margin: 1vw, auto;
	padding-bottom: 2vw;
	text-align: center;
	color: white;
	font-family: 'Inconsolata', monospace;
	font-size: 3.5vw;
}

h1 {
	font-size: 4vw;
}

h2 {
	font-size: 3.5vw;
}

header {
	color: white;
	font-family: 'Inconsolata', monospace;
	padding-bottom: 5vw;
	text-align: center;
	
}

.hidden {
  display: none;

}

input[type='submit'] {
	background-color: rgb(65, 84, 114);
	border: none;
	border-radius: 10vw;
	color: white; 
	font-family: 'Inconsolata', monospace;
	font-size: 2vw; 
	height: 6vw;
	padding: 3vw;
	width: 20vw;
}

input:focus {
	background-color: white;
	border: none;
	color: rgb(65, 84, 114);
}

input:hover {
	background-color: white; 
	border: none;
	color: rgb(65, 84, 114);
}

input[type='radio'] { 
	margin: 1vw;
	padding: 1vw;
	transform: scale(1.25);
}

label {
	display: inline-block;
	margin-bottom: 2vw;
}

legend {
	font-size: 2.5vw;
	padding-bottom: 1vw;
}

main {
	    background-color: rgba(8, 18, 34, 0.8);
		margin: auto;  
	    max-width: 50%;
	    text-align: center;	 
	    padding: 1vw;
	    position: relative; 
	    z-index: 1;  
	}

.question {
  color: white;
  font-style: italic;
  margin: 0px, auto;
  text-align: center; 
}

 
.restart-button {
	display: block;
	height: 8vw;
 	margin: auto;
 }



